<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask D3.js Charts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</head>
<body>
    <h1>Sample D3.js Pie and Bar Charts</h1>
    <div class="chart" id="pie-chart"></div>
    <div class="chart" id="bar-chart"></div>
</body>
</html>
